<?xml version="1.0" encoding="utf-8" standalone="no"?>
<RevitAddIns>
  <AddIn Type="Application">
    <Name>FutolStructure Revit automation</Name>
    <Assembly>PATH_TO_BUILD_OUTPUT\FutolStructure.Revit2027.dll</Assembly>
    <AddInId>3AE6BF52-A64D-4A0B-86E4-3D823C2D54F0</AddInId>
    <AddInVersion>1.0.0.0</AddInVersion>
    <FullClassName>FutolStructure.Revit2027.FutolStructureStartup</FullClassName>
    <VendorId>FutolTech</VendorId>
    <VendorDescription>FutolStructure one-click Revit import automation</VendorDescription>
  </AddIn>
  <AddIn Type="Command">
    <Name>FutolStructure Revit 2027</Name>
    <Assembly>PATH_TO_BUILD_OUTPUT\FutolStructure.Revit2027.dll</Assembly>
    <AddInId>7E17F4AF-6C55-4A17-A77C-B0CC0B2D7A27</AddInId>
    <AddInVersion>1.0.0.0</AddInVersion>
    <FullClassName>FutolStructure.Revit2027.FutolStructureCommand</FullClassName>
    <VendorId>FutolTech</VendorId>
    <VendorDescription>FutolStructure governed structural-model importer</VendorDescription>
  </AddIn>
  <AddIn Type="Command">
    <Name>FutolStructure Import Host</Name>
    <Assembly>PATH_TO_BUILD_OUTPUT\FutolStructure.Revit2027.dll</Assembly>
    <AddInId>36BE4E6E-46AB-4EF4-B4B7-2C15CB2A4BE1</AddInId>
    <AddInVersion>1.0.0.0</AddInVersion>
    <FullClassName>FutolStructure.Revit2027.FutolStructureHostCommand</FullClassName>
    <VendorId>FutolTech</VendorId>
    <VendorDescription>FutolStructure clean Revit import host creator</VendorDescription>
  </AddIn>
  <AddIn Type="Command">
    <Name>FutolStructure Automated Host Creator</Name>
    <Assembly>PATH_TO_BUILD_OUTPUT\FutolStructure.Revit2027.dll</Assembly>
    <AddInId>B458D5B5-A9D2-41B4-B8E7-1BFE5DE3A8F0</AddInId>
    <AddInVersion>1.0.0.0</AddInVersion>
    <FullClassName>FutolStructure.Revit2027.FutolStructureHostAutomationCommand</FullClassName>
    <VendorId>FutolTech</VendorId>
    <VendorDescription>FutolStructure valid .rvt host creator for queued imports</VendorDescription>
  </AddIn>
</RevitAddIns>
